# 'atom-text-editor':
#   'ctrl-space': 'autocomplete-plus:activate'
#
# 'atom-text-editor.autocomplete-active':
#   'escape': 'autocomplete-plus:cancel'

'atom-text-editor':
    'ctrl-shift-g': 'language-lean:show-goal'
